<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Sinfonias</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 10px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

<h1>Relatório de Sinfonias</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Compositor</th>
            <th>Dt. Criação</th>
        </tr>
    </thead>
    <!-- Parte relevante do template HTML -->
<tbody>
  {% for sinfonia in sinfonias %}
  <tr>
      <td>{{ sinfonia.nome }}</td>
      <td>{{ sinfonia.compositor }}</td>
      <td>{{ sinfonia.dt_criacao }}</td>
  </tr>
  {% endfor %}
</tbody>

</table>

</body>
</html>
